/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
}

.kontejner {
    color: #000;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

.sloupec {
    padding: 1rem;
}

.hlavicka	{ background-color: #7B1FA2; }
.hlavni		{ background-color: #FFE0B2; }
.levy		{ background-color: #F57C00; }
.pravy		{ background-color: #FF9800; }
.paticka	{ background-color: #212121; }

/* ---------------------------------------------------- */

.kontejner {
    display: flex;
    flex-direction: column;
}

.levy {
    order: 3;
}

.hlavni {
    order: 1;
    flex: 1;
}

.pravy {
    order: 2;
    flex-basis: 150px;
}

@media screen and (min-width: 600px) {

    .kontejner {
        flex-wrap: wrap;
        flex-direction: row;
    }

.hlavni {
    order: 1;
    flex: 1;
}

.pravy {
    order: 2;
    width: 150px;
}

.levy {
    order: 3;
}

}

@media screen and (min-width: 900px) {

    .levy{
        order: -1;
        flex-basis: 250px;
    }

}

@media screen and (min-width:900px), (orientation:landscape) {
    
    .levy{
        order: -1;
        flex-basis: 250px;
    }
}


